.siteTitle {
    font-size: 3rem;
    list-style: none;
    color: #663399;
}

.pageStyles {
    color: #232129;
    padding: 96px;
    font-family: -apple-system, Roboto, sans-serif, serif;
}

.headingStyles  {
    margin-top: 0;
    margin-bottom: 64;
    max-width: 320;
}

p {
    color: #232129;
    margin-bottom: 48px;
}

/* Navigation */

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: #663399;
}

